* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background-color: lightblue;
}

.container {
    border: 1px solid #6c6c6c;
    height: 25em;
    min-width: 30em;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#navBar {
    display: flex;
    justify-content: space-evenly;
    margin: 1em 0;
}

#mainContent {
    width: 90%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}